<div>
  <div>
    <h1>
      All Events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new event
    </h2>

    <form action="/insert_event" method="post">

      <div>
        <label for="event_name_box">
          Event name
        </label>

        <input type="text" id="event_name_box" name="query_event_name">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="text" id="time_box" name="query_time">
      </div>

      <div>
        <label for="despriction_box">
          Despriction
        </label>

        <input type="text" id="despriction_box" name="query_despriction">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Event name
        </th>

        <th>
          Location
        </th>
        <th>
          When
        </th>
        <th>
          Despriction
        </th>

        <th>
          Host
        </th>

        <th>
          Image
        </th>

        <th>
          Attending
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td>
          <%= an_event.event_name %>
        </td>

        <td>
          <%= an_event.location %>
        </td>
        <td>
          <%= an_event.time %>
        </td>
        <td>
          <%= an_event.despriction %>
        </td>

        <td>
          <%= an_event.host.username %>
        </td>

        <td>
          <img src="<%= an_event.image %>">
        </td>
        <td>
<% #roster form %>
<% this_roster = Roster.where({ :event_id => an_event.id, :guests_id => session.fetch(:user_id)}).at(0)%>
    <% if !this_roster %>
      <form action="/insert_roster" method="post">
      <div>
        <input type="hidden" id="event_id_box" name="query_event_id" value=<%= an_event.id %>>
      </div>
      <button>
        Attend
      </button>
    </form>
    <% else %>
          <form action="/delete_roster/<%= this_roster.id %>">
          <div>
            <input type="hidden" id="event_id_box" name="query_event_id" value=<%= an_event.id %>>
          </div>
          <div>
            <input type="hidden" id="q_id_box" name="query_guests_id">
          </div>
          <button>
            Don't attend
          </button>
        </form>

    <% end %>
  </div>
</div>

        </td>
        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
