<div>
  <div>
    <h1>
      Event #<%= @the_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        Despriction
      </dt>
      <dd>
        <%= @the_event.despriction %>
      </dd>

      <dt>
        Event name
      </dt>
      <dd>
        <%= @the_event.event_name %>
      </dd>

      <dt>
        Host
      </dt>
      <dd>
        <%= @the_event.host_id %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_event.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_event.location %>">
      </div>

      <div>
        <label for="despriction_box">
          Despriction
        </label>

        <input type="text" id="despriction_box" name="query_despriction" value="<%= @the_event.despriction %>">
      </div>

      <div>
        <label for="event_name_box">
          Event name
        </label>

        <input type="text" id="event_name_box" name="query_event_name" value="<%= @the_event.event_name %>">
      </div>

      <div>
        <label for="host_id_box">
          Host
        </label>

        <input type="text" id="host_id_box" name="query_host_id" value="<%= @the_event.host_id %>">
      </div>


      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_event.image %>">
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>
