<div>
  <div>
    <h1>
      <%= @the_event.event_name %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        When
      </dt>
      <dd>
        <%= @the_event.time %>
      </dd>

      <dt>
        Despriction
      </dt>
      <dd>
        <%= @the_event.despriction %>
      </dd>

      <dt>
        Event name
      </dt>
      <dd>
        <%= @the_event.event_name %>
      </dd>

      <dt>
        Host
      </dt>
      <dd>
        <%= @the_event.host.username %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_event.image %>">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) == @the_event.host_id %>
  <div>
    <div>
      <h2>
        Edit event
      </h2>

      <form action="/modify_event/<%= @the_event.id %>"  method="post" >
            <div>
          <label for="event_name_box">
            Event name
          </label>

          <input type="text" id="event_name_box" name="query_event_name">
        </div>

        <div>
          <label for="location_box">
            Location
          </label>

          <input type="text" id="location_box" name="query_location">
        </div>

        <div>
          <label for="time_box">
            Time
          </label>

          <input type="text" id="time_box" name="query_time">
        </div>

        <div>
          <label for="despriction_box">
            Despriction
          </label>

          <input type="text" id="despriction_box" name="query_despriction">
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image">
        </div>

        <button>
          Update event
        </button>
      </form>
    </div>
  </div>
<% end %>

<hr>
